@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    border-left: 30px solid #764400;
    background-color:#ffe8c8;
    border-right: 30px solid #764400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;
}

.container{
    padding:2rem;
    margin: auto;
    width: 1000px;
    max-width: 100%;
}
.logo {
    color:#764400;
    font-size:4rem;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a66000;
    font-size: 4rem;
    margin: 0;
}
h1 a {
    transform: scale(0.8);
}

a {
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    /* transform:skew (-30deg); */
}

a::after {
    background-color: #764400;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skew(-30deg);
    z-index: -1;
}

.row {
    display: flex;
}
.col {
    flex: 1;
}