@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    border-left: 30px solid #764400;
    background-color:#ffe8c8;
    border-right: 30px solid #764400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    height: 100vh;
}

.container{
    padding:2rem;
    margin: auto;
    width: 1000px;
    max-width: 100%;
}
.logo {
    color:#764400;
    font-size:4rem;
}

h1 {
    color: #764400;
    font-size: 4rem;
    margin: 0;
}

a {
    background-color: #764400;
    color: white;
    padding: 1rem;
    text-decoration: none;
    transform:skew (-30deg);
}

