@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    border-left: 30px solid #764400;
    background-color:#ffe8c8;
    border-right: 30px solid #764400;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
